@page "/"

@using DataTable.Components

<h1>Hello, world!</h1>

<button class="btn btn-success" @onclick="GetSelectedItems">Get selected items</button>

@if (selectedTests != null)
{

    <GenericTable Items="selectedTests" Columns="columns" VisibleColumns="visibleColumns"></GenericTable>
}

<GenericTable @ref="table" Items="tests" Columns="columns" VisibleColumns="visibleColumns" OnRowClicked="(test test) => OnRowClicked(test)" SelectableRows="true" ShowTotals=true>
    <LastColumnTemplate>
        <button class="btn btn-danger" @onclick="(() => DeleteClicked(context))" @onclick:stopPropagation>Delete</button>
    </LastColumnTemplate>
</GenericTable>

@code {
    List<test> tests = new List<test>();
    Dictionary<string, string> columns = new Dictionary<string, string>();
    List<string> visibleColumns = new List<string>();

    List<test> selectedTests;

    GenericTable<test> table;

    protected override void OnInitialized()
    {
        tests.Add(new test { test1 = "test", test2 = null, test3 = true, test4 = DateTime.Now });
        for (int i = 0; i < 10; i++)
        {
            tests.Add(new test { test1 = "test" + i, test2 = i + "test", test3 = false, test4 = DateTime.Now });
        }

        columns.Add("test1", "Test 1");
        columns.Add("test2", "Test 2");
        columns.Add("test3", "Test 3");
        columns.Add("test4", "Test 4");

        visibleColumns.Add("Test 1");
        visibleColumns.Add("Test 2");
        visibleColumns.Add("Test 3");
        visibleColumns.Add("Test 4");
    }

    private void OnRowClicked(test row)
    {
        var tempList = tests.ToList();
        var newRow = new test { test1 = row.test2, test2 = row.test1 };
        tempList[tests.FindIndex(t => t.test1 == row.test1 && t.test2 == row.test2)] = newRow;
        tests = tempList.ToList();
        StateHasChanged();
    }

    private void DeleteClicked(test row)
    {
        tests.Remove(row);
    }

    private void GetSelectedItems()
    {
        selectedTests = table.SelectedItems.ToList();
    }

    class test
    {
        public string test1 { get; set; }
        public string test2 { get; set; }
        public bool test3 { get; set; }
        public DateTime test4 { get; set; }
    }
}
